.container {
    float:left;
}

.background {
    position: relative;
    z-index: 0;
}
.layer {
    position:relative;
    z-index: 50;
}
#frame {
    z-index: 999;
}
.main {
    position: relative;
    margin-left: 3em;
    padding: 1em;
    margin-top: 3em;
    z-index: 999;
}
.white-box{
    background-color: #FFF;
    opacity: 0.75;
    padding: 1em;
}
.tease {
    padding-top: 50em;
}
.tease-sm{
    padding-top: 25em;
}
.tease-lg {
    padding-top: 75em;
}
