<span id="before-seattle"></span>
      <div class="main container peek-at-next">
        <div class="white-box">
          <p class="lead">
            I moved to Seattle, WA to participate in an intensive study on web development through
            <a href="http://codefellows.com" class="pink">CodeFellows</a>, where I realized my love for
            making products through code.<br><br>I'm now working on freelance work in between developing my own projects and searching for
            <span class="pink">full-time work opportunities in the startup tech space.</span>

          </p>
        </div>
      </div>
