<div class="main container peek-at-next">
        <div id="about" class="white-box">
            <h1>About Me</h1>
            <p class="lead">
              My name is Amy Hua. I would describe myself as a creative, technical, and aspiring entrepreneur. My goal is to live a dense life. In that pursuit, I have:</p>
              <div style="padding-left:1em">

              been an avid <span class="pink">painter</span> and a <span class="pink">drawer</span> from ages 4 through college.
              <br><br>
              <span class="pink">founded a nonprofit</span> and managed over 40 volunteers running a 16-room Victorian mansion on a daily basis.
              <br><br>
              <span class="pink">couchsurfed</span> across the country.
              <br><br>
              been a <span class="pink">motorcyclist</span>, <span class="pink">scuba diver</span>, and <span class="pink">rock climber</span>.
              <br><br>
              held <span class="pink">14 different jobs</span> since I was 14.
              <br><br>
            </div>
            <p class="lead">

              I graduated from a Top 3 Undergraduate Math program at the
              the <span class="pink">University of Chicago</span>
              and earned a <span class="pink">Mathematics B.S.</span> before I became an <span class="pink">analytics consultant</span> for a
              Top 4 global management consulting giant. One day, I dropped it all, because I
              realized I wasn't doing what I really wanted.<br><br>
              What I <em>really</em> wanted to do was open my computer and <span class="pink">code</span>.<br>
            </p>
        </div>
        </div>
