<div class="main container peek-at-next">
        <div id="contact" class="white-box">
          <h1>Contact Me</h1>
          <p class="lead">
            Say hello, ask me a question, or anything else!
            I'm currently open to new client projects and opportunities.<br><br>
            <%= render 'contact_form' %>
          </p>
        </div>
      </div>
