<div id="home" class="main container peek-at-next">

        <div class="title">
          <span class="header">AMY<br>HUA</span><br><br>
          <span class="subheader"> Full Stack Web Developer</span>
        </div>
        <div style="padding-top: 3em;"></div>
        <div class="title white-box" id="welcome">
          <h1>Welcome!</h1>
          <p class="lead">
            I am a Ruby on Rails developer with an artsy side.<br><br>
            I help people build well-designed web products.
            <div class="mobile-view lead"><br><br>You are accessing the mobile version.<br>This site is best viewed on a full-screen desktop.<br><br></div>
          </p>
        </div>
      </div>
      </div>
