<div class="main container">
        <div id="work" class="white-box">
          <h1>My Work</h1>
          <p class="lead">
              <a href="http://codelabs.herokuapp.com/" class="pink">Codelabs</a>: Codelabs is designed for instructors teaching front-end web development to easily communicate and exchange lessons & assignments with their students. It features a built-in code editor,
              Markdown-driven discussion forums, and SMS/email alerts for instructors to receive help requests during class.
              Codelabs goes live in Mid-October 2013, where I
              will be teaching grade school students in South
              Seattle Web Design 101.
            <br><br>

              <a href="http://liveplugin-v1.herokuapp.com/" class="pink">LivePlugin</a>: LivePlugin is a map integrated application for locals to hear about the latest live events in their area. Currently under construction.
            <br><br>
            <a class="pink" href="https://github.com/amyhua/lincoln_douglas_debate">LDD</a>: LDD is a virtual tournament platform, forums, and evidence exchange for local high school debaters. Currently under construction.</li>
            <br><br>
            <a href="https://github.com/amyhua/Runaway-Fridge" class="pink">Runaway Fridge</a>: Runaway Fridge was an idea for a reverse recipe search engine that searches by ingredients. Currently includes mock data and basic search engine functionality. This project lasted a week before being retired.</li>
            <br><br>

            See what I am building <a href="http://github.com/amyhua" style="color: #FF00AD">on my GitHub.</a>
          </p>
        </div>
      </div>

<div class="main container peek-at-next">
        <div class="clearfix" style="opacity: 1;">

          <div class="center">

        <%= link_to (image_tag 'liveplugin.png', class: 'workshot left'), 'http://liveplugin-v1.herokuapp.com'%>
        <%= link_to (image_tag 'codelabs.png', class: 'workshot'), 'http://codelabs.herokuapp.com' %>
      </div>
        </div>
      </div>
