<div class="main container peek-at-next">
        <div id="work" class="white-box">
          <h1>My Work</h1>
          <p class="lead">
            I'm currently building:  <br><br>
              <span class="pink">LivePlugin</span>: a Google Maps integrated events calendar application
              for live events in your local area.
            <br><br>
            <span class="pink">LDD</span>: a virtual tournament platform, forums, and evidence exchange for local high school debaters.</li>
            <br><br>
            <span class="pink">Eat Sumthin</span>: a reverse recipe search engine that searches by ingredients.</b></li>
            <br><br>

            See what I built <a href="http://github.com/amyhua" style="color: #FF00AD">in just a few weeks time on my GitHub.</a>
          </p>
        </div>
      </div>
